/*
========================================================================================
    Nextflow Configuration for Metagenomics Pipeline
========================================================================================
*/

params {
    input               = "/net/afscra/people/plgpkica/metagenome_proj/data/sample_mini.csv"
    outdir              = "/net/afscra/people/plgpkica/metagenome_proj/results"
    bowtie2_hg38_index  = "/net/afscra/people/plgpkica/metagenome_proj/databases/hg38_reference/hg38"
    sylph_db            = "/net/afscra/people/plgpkica/metagenome_proj/databases/gtdb-r226-c200-dbv1.syldb"
    bakta_db            = "/net/afscra/people/plgpkica/metagenome_proj/databases/bakta_db_v6"
}

// --- Profile Definitions ---
profiles {
    // Default profile for local execution on your 32-core machine
    standard {
        process.executor = 'local'
        executor.cpus = 30
        executor.queueSize = 20
        executor.memory = '140 GB' // Reserve some memory for the OS
    }
}

// --- Process-Specific Configurations ---
process {
    // Default resources for any process not specified below
    cpus = 16
    memory = '60 GB'

    // Override resources for specific, demanding processes
    //withName: 'MEGAHIT_ASSEMBLY' {
    //    cpus = 24 // Assembly is very resource-intensive
    //    memory = '50 GB'
    //}
}

// --- Environment Module Configuration ---
conda {
    enabled = true
    conda.channels = ['conda-forge', 'bioconda', 'defaults']
    cacheDir = "/net/afscra/people/plgpkica/metagenome_proj/conda"
}

env {
    GTDBTK_DATA_PATH = "/net/afscra/people/plgpkica/metagenome_proj/databases/gtdbtk_db/release226"
    CHECKM2DB = "/net/afscra/people/plgpkica/metagenome_proj/databases/checkm2_db/CheckM2_database/uniref100.KO.1.dmnd"
}

resume = true

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${trace_timestamp}/execution_timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${trace_timestamp}/execution_report.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${trace_timestamp}/execution_trace.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/${trace_timestamp}/pipeline_dag.html"
}
