/*
========================================================================================
    Nextflow Configuration for Metagenomics Pipeline
========================================================================================
*/

params {
    outdir              = "/net/afscra/people/plgpkica/metagenome_proj/results"
    bowtie2_hg38_index  = "/net/afscra/people/plgpkica/metagenome_proj/databases/hg38_reference/hg38"
    sylph_db            = "/net/afscra/people/plgpkica/metagenome_proj/databases/gtdb-r226-c200-dbv1.syldb"
    bakta_db            = "/net/afscra/people/plgpkica/metagenome_proj/databases/bakta_db_v6"
}

// --- Profile Definitions ---
profiles {
    standard {
        process.executor = 'local'
        executor.cpus = 20
        executor.queueSize = 1
        executor.memory = '140 GB'
    }
}

process {
    // Default resources for any process not specified below
    cpus = 10
    memory = '60 GB'

    // Override resources for specific, demanding processes
    //withName: 'MEGAHIT_ASSEMBLY' {
    //    cpus = 24 // Assembly is very resource-intensive
    //    memory = '50 GB'
    //}
}

conda {
    enabled = true
    conda.channels = ['conda-forge', 'bioconda', 'defaults']
    cacheDir = "/net/afscra/people/plgpkica/metagenome_proj/conda"
}

env {
    CHECKM2DB = "/net/afscra/people/plgpkica/metagenome_proj/databases/checkm2_db/CheckM2_database/uniref100.KO.1.dmnd"
    GTDBTK_DATA_PATH = "/net/afscra/people/plgpkica/metagenome_proj/databases/gtdbtk_db/release226"
}

resume = true

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
def SLURM_JOB_ID = System.getenv('SLURM_ARRAY_JOB_ID') ?: (System.getenv('SLURM_JOB_ID') ?: 'no_slurm_id')
def SRA_ID = System.getenv('SRA_ID')

timeline {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/${SLURM_JOB_ID}/${SRA_ID}/execution_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/${SLURM_JOB_ID}/${SRA_ID}/execution_report.html"
}
trace {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/${SLURM_JOB_ID}/${SRA_ID}/execution_trace.txt"
}
dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/${SLURM_JOB_ID}/${SRA_ID}/pipeline_dag.html"
}
