/*
========================================================================================
    Nextflow Configuration for Metagenomics Pipeline
========================================================================================
*/

params {
    input               = "/net/scratch/hscra/plgrid/plgpkica/metagenome_proj/data/full_df_shuffled.csv"
    indir               = "/net/storage/pr3/plgrid/plgggutmap/input_mg/input_1-15000"
    outdir              = "/net/storage/pr3/plgrid/plgggutmap/output_mg/output_1-15000"
    bowtie2_hg38_index  = "/net/scratch/hscra/plgrid/plgpkica/metagenome_proj/databases/hg38_reference/hg38"
    sylph_db            = "/net/scratch/hscra/plgrid/plgpkica/metagenome_proj/databases/gtdb-r226-c200-dbv1.syldb"
    bakta_db            = "/net/scratch/hscra/plgrid/plgpkica/metagenome_proj/databases/bakta_db_v6"
}

// --- Profile Definitions ---
profiles {
    standard {
        process.executor = 'slurm'
        process.queue = 'plgrid'
        process.clusterOptions = '-A plggutmap100k-cpu -C memfs'
        process.time = '4h'
        executor {
            queueSize = 150
            submitRateLimit = '10sec'
        }
    }
}

process {
  errorStrategy = 'ignore'
  memory = '80 GB'
  cpus = 20
}

conda {
    enabled = true
    conda.channels = ['conda-forge', 'bioconda', 'defaults']
    cacheDir = "/net/scratch/hscra/plgrid/plgpkica/metagenome_proj/conda"
}

env {
    CHECKM2DB = "/net/scratch/hscra/plgrid/plgpkica/metagenome_proj/databases/checkm2_db/CheckM2_database/uniref100.KO.1.dmnd"
    GTDBTK_DATA_PATH = "/net/scratch/hscra/plgrid/plgpkica/metagenome_proj/databases/gtdbtk_db/release226"
}

//resume = true
cleanup = true

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/$trace_timestamp/execution_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/$trace_timestamp/execution_report.html"
}
trace {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/$trace_timestamp/execution_trace.csv"
    sep = ","
}
dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/$trace_timestamp/pipeline_dag.html"
}

plugins {
    id 'nf-boost'
}

boost {
    cleanup = true
}